.curriculumContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(179, 87, 219);
  }
  
  .curriculumCard {
    background-color: white;
    color: black;
    text-align: center;
    padding: 5%;
    margin: 10%;
  }
  
  .curriculumCard h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .curriculumCard p {
    font-size: 18px;
  }
  
  